<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>741175502787-7fr0onna0uaif9iu2sh7bm97saqulkc0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.741175502787-7fr0onna0uaif9iu2sh7bm97saqulkc0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>741175502787-5vkn7718mgknud25166vvbbaueg0q53d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCPF2DuZncA19y_08HPX_Nri_lJxNQybN8</string>
	<key>GCM_SENDER_ID</key>
	<string>741175502787</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dellwatson.test</string>
	<key>PROJECT_ID</key>
	<string>test-729ff</string>
	<key>STORAGE_BUCKET</key>
	<string>test-729ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:741175502787:ios:08b7a26594b5eb28393f76</string>
</dict>
</plist>